
*{
  margin: 0;
  padding: 0;
}
#canvastag {
  width: 100vw;
  height: 70vh;
  border: 2px solid black;
  display: flex;
}
.button{
  display: none;
}
.display{
  display: none;
}

.ok{
  background: red;
  font-size: 2vh;
  text-align: center;
  border: border 5px solid black;
  height: 10vh
}
.ok:hover{
  background: brown;
}

#playpause{
  background: indigo;
  text-align: center;
  height: 10vh;
}
.yes:hover{
  background: darkred;
}
