
*{
  margin: 0;
  padding: 0;
}
#canvastag {
  width: 100vw;
  height: 70vh;
  border: 2px solid black;
  display: flex;
}
.button{
  display: none;
}
.display{
  display: none;
}
html{
  overflow: hidden;
}
.ok{
  color: white;
  background: red;
  font-size: 3vh;
  text-align: center;
  border: border 5px solid black;
  height: 5vh;
}
.ok:hover{
  background: brown;
}

#playpause{
  color: white;
  background: indigo;
  text-align: center;
  font-size: 3vh;
  height: 10vh;
}
.yes:hover{
  background: darkred;
}
